.font-size-12{
    font-size: 13px;
}
.form-input{
    width: 100%;
    height: 30px;
    border: 1px solid rgb(115,115,115);
    outline: none;
    padding: 0 5px;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.pointer{
    cursor: pointer;
}